/* IMPORT FONT ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Roboto&display=swap');

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #0081c9;
  --secondary-color: #5bc0f8;
  --tertiary-color: #86e5ff;
  --danger-color: rgb(255, 56, 86);
  --dark-color: #2b3467;
}
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* DELETE BUTTON */
.DeleteButton {
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: var(--danger-color);
  letter-spacing: 1px;
  font-size: 11px;
  transition: all 0.3s ease;
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
  color: hsl(0, 0%, 100%);
}
.DeleteButton:hover {
  box-shadow: rgb(201, 46, 70) 0px 4px 0px 0px;
}
.DeleteButton:active {
  background-color: rgb(255, 56, 86);
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(3px);
  transition: 150ms;
}

/* EDIT BUTTON */
.EditButton {
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: #ff7b54;
  letter-spacing: 1px;
  font-size: 11px;
  transition: all 0.3s ease;
  box-shadow: #ffb26b 0px 7px 0px 0px;
  color: hsl(0, 0%, 100%);
}
.EditButton:hover {
  box-shadow: #ffb26b 0px 4px 0px 0px;
}
.EditButton:active {
  background-color: #ff7b54;
  box-shadow: #ff7b54 0px 0px 0px 0px;
  transform: translateY(3px);
  transition: 150ms;
}

/* BUTTON GROUP */
.Button_group {
  display: flex;
  justify-content: flex-end;
}

.title,
.date,
.content {
  margin-bottom: 0.5rem;
}
.date,
.content {
  font-size: 12px;
}
.content {
  min-height: 14rem;
}

/* NOTES ITEM */
.NotesItem {
  display: flex;
  flex-direction: column;
  width: 15rem; /*15*/
  padding: 1.5rem;
  margin: 1.7rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 350ms;
  cursor: pointer;
  background-color: #0081c9;
  color: white;
}

/* DETAIL ITEM */
.DetailNote {
  width: 16rem;
  margin-bottom: 15rem;
  margin-left: auto;
  margin-right: auto;
}
.NotesItem:hover {
  transform: translateY(-5px);
  opacity: 0.9;
}
.DetailWrapper {
  margin-top: 7.5rem;
}
.DetailTitle {
  text-align: center;
  color: var(--primary-color);
}

/* NOTESLIST */
.NotesList {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.NotesList_title {
  text-align: center;
  color: var(--primary-color);
  font-size: 1.5rem;
}
.NumberofNotes {
  font-size: 0.8rem;
  margin-top: 4px;
}

/* FORM INPUT */
.input-container {
  width: 16rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 100px auto;
  padding: 40px;
  margin-bottom: 17rem;
}
form {
  display: flex;
  flex-direction: column;
}
form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}
form .InputTitle {
  height: 36px;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 0 15px;
  margin-top: 20px;
  font-size: 14px;
}
form .InputContent {
  border-radius: 3px;
  border: 1px solid gray;
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 14px;
  resize: vertical;
  max-height: 15rem;
  min-height: 5rem;
  font-family: 'Roboto', sans-serif;
}
#TitleCount,
#ContentCount {
  margin-left: auto;
  font-size: 10px;
  margin-top: 5px;
}
form button.AddNotes {
  height: 36px;
  background-color: var(--primary-color);
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 14px;
  transition: all 370ms;
  cursor: pointer;
  margin-top: 20px;
}
form button.AddNotes:hover {
  background-color: #205295;
}
form button.AddNotes:active {
  transform: translateY(-3px);
}
/* NAVIGATION */
.navigation {
  padding: 1.2rem;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0px 3px 3px -1px rgba(253, 246, 246, 0.75);
}
.navigation ul li {
  list-style: none;
}
.navigation ul li a {
  text-decoration: none;
  color: white;
  margin-right: 6px;
}
.navigation ul {
  width: 15%;
  display: flex;
  justify-content: space-around;
}
.Brand a {
  text-decoration: none;
  color: white;
}
/* HOMEPAGE */
.HomeWrapper {
  margin-top: 6.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ADDPAGE */
.AddWrapper {
  margin-top: 7.5rem;
}
/* SEARCH BAR */
.search-bar {
  margin: 2.5rem 0;
  padding: 0.5rem;
  width: 17rem;
  border-radius: 4px;
  border: 1px solid gray;
}
/* ADD BUTTON FLOAT */
.AddFloat {
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;
  transition: all 270ms;
}
.AddFloat:hover {
  transform: translateY(-6px);
}
.Home,
.Add {
  transition: all 230ms;
}
.Home:hover,
.Add:hover {
  transform: translateY(-1px);
}
.NotesEmpty {
  margin: 9rem auto;
}
/* FOOTER */

.Footer_title {
  margin: 1rem 0;
  text-align: center;
  color: var(--primary-color);
  font-weight: bold;
}
a {
  text-decoration: none;
  color: white;
}

/* RESPONSIVE */
@media only screen and (min-width: 600px) {
  div.DetailNote {
    width: 40rem;
    margin-bottom: 35rem;
  }
  .NotesItem {
    width: 15rem;
  }
  .input-container {
    width: 38rem;
    margin-bottom: 38rem;
  }
  .navigation ul {
    width: 10%;
  }
}
@media only screen and (min-width: 1024px) {
  div.DetailNote {
    margin-bottom: 5rem;
  }
  .NotesItem {
    width: 15rem;
  }
  .input-container {
    width: 38rem;
    margin-bottom: 1.5rem;
  }
  .navigation ul {
    width: 10%;
  }
}
