/* IMPORT FONT ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Roboto&display=swap');

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #0081c9;
  --secondary-color: #5bc0f8;
  --tertiary-color: #86e5ff;
  --danger-color: rgb(255, 56, 86);
  --dark-color: #2b3467;
}
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* DELETE BUTTON */
.DeleteButton {
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: var(--danger-color);
  letter-spacing: 1px;
  font-size: 11px;
  transition: all 0.3s ease;
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
  color: hsl(0, 0%, 100%);
}
.DeleteButton:hover {
  box-shadow: rgb(201, 46, 70) 0px 4px 0px 0px;
}
.DeleteButton:active {
  background-color: rgb(255, 56, 86);
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(3px);
  transition: 150ms;
}

/* EDIT BUTTON */
.EditButton {
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: var(--secondary-color);
  letter-spacing: 1px;
  font-size: 11px;
  transition: all 0.3s ease;
  box-shadow: var(--primary-color) 0px 7px 0px 0px;
  color: hsl(0, 0%, 100%);
}
.EditButton:hover {
  box-shadow: var(--primary-color) 0px 4px 0px 0px;
}
.EditButton:active {
  background-color: var(--secondary-color);
  box-shadow: var(--primary-color) 0px 0px 0px 0px;
  transform: translateY(3px);
  transition: 150ms;
}

/* BUTTON GROUP */
.Button_group {
  display: flex;
  justify-content: flex-end;
}

.title,
.date,
.content {
  margin-bottom: 0.5rem;
}
.date,
.content {
  font-size: 12px;
}
.content {
  min-height: 14rem;
}

/* NOTES ITEM */
.NotesItem {
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding: 1.5rem;
  margin: 1.7rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 350ms;
  cursor: pointer;
  background-color: var(--dark-color);
  color: white;
}
.NotesItem:hover {
  transform: translateY(-5px);
  opacity: 0.9;
}

/* NOTESLIST */
.NotesList {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.NotesList_title {
  text-align: center;
  color: var(--primary-color);
  font-size: 1.5rem;
}

/* FORM INPUT */
.input-container {
  width: 30rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 100px auto;
  padding: 40px;
}
form {
  display: flex;
  flex-direction: column;
}
form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}
form .InputTitle {
  height: 36px;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 0 15px;
  margin-top: 20px;
  font-size: 14px;
}
form .InputContent {
  border-radius: 3px;
  border: 1px solid gray;
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 14px;
  resize: vertical;
  max-height: 15rem;
  min-height: 5rem;
  font-family: 'Roboto', sans-serif;
}
#TitleCount,
#ContentCount {
  margin-left: auto;
  font-size: 10px;
  margin-top: 5px;
}
form button.AddNotes {
  height: 36px;
  background-color: var(--primary-color);
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 14px;
  transition: all 370ms;
  cursor: pointer;
  margin-top: 20px;
}
form button.AddNotes:hover {
  background-color: #205295;
}
form button.AddNotes:active {
  transform: translateY(-3px);
}
